body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Poppins;
  font-weight: 400;
}

.slick-dots .pagination-list li.slick-active button:before {
  background: #b88e2f;
}

.slick-dots .pagination-list li button:before {
  background-color: #d8d8d8;
  content: '';
  border-radius: 100%;
  width: 11spx;
  height: 11spx;
  transition: background 0.5s ease-in-out;
}

.MuiPagination-root .MuiPaginationItem-root {
  background-color: #f9f1e7;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 20px;
  font-family: Poppins;
}

.MuiPagination-root .MuiPaginationItem-root.Mui-selected {
  background-color: #b88e2f;
  color: #fff;
  border: none;
}

.MuiPagination-root .MuiPaginationItem-root.Mui-selected:hover {
  background-color: #c6931d;
}

.MuiPagination-root .MuiPagination-ul {
  gap: 38px;
}

.MuiAutocomplete-option {
  text-transform: capitalize;
}

@media screen and (max-width: 900px) {
  .MuiPagination-root .MuiPaginationItem-root {
    height: 30px;
    width: 30px;
    font-size: 12px;
  }

  .MuiPagination-root .MuiPagination-ul {
    gap: 10px;
  }
}
